<ion-view title="Connection" id="game">
    <ion-content padding="true" style="background:#3F51B5">
        <!-- Connection state display -->
        <div ng-show="gameState == 'init'">
            <div style="padding-top:50%" ng-show="ConnectionToConstellationState == 0">
                <center>
                <ion-spinner  class="spinner-energized"></ion-spinner>
                <p style="margin-top:20px; padding:20px; color:#FFFFFF; font-size:18px; text-align:justified">
                       Connection to Constellation
                </p>
                </center>
            </div>
            <div style="padding-top:50%" ng-show="ConnectionToConstellationState == 4">
                <center>
                    <img src="/img/cancel.png" width="25%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                    <p style="margin-top:20px; padding:20px; color:#FFFFFF; font-size:18px; text-align:justified">
                        Connection failed. Please check your connection
                        <button id="retry" class="button button-energized  button-block" on-tap="initConstellation()">Retry</button>
                    </p>
                     
                </center>
            </div>
            <div style="padding-top:50%" ng-show="ConnectionToConstellationState == 1">
                <center>
                    <img src="/img/checked.png" width="25%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                    <p style="margin-top:20px; padding:20px; color:#FFFFFF; font-size:18px; text-align:justified">
                            Connected !
                    </p>
                </center>
            </div>
        </div>
        
        <!-- Game state display -->
        <div ng-show="gameState == 'connected'">
            <!-- General Display (Round, player score, game score) -->
            
                <!-- Round display -->
                <div class="row">
                    <div class="col">
                        <div class="card" style="margin-top:5px; margin-bottom:5px; margin-left:5px; margin-right:2px">                    
                             <div class="row">
                                 <div class="col col-85"><h2>Round</h2></div>
                                 <div class="col col-15" style="text-align:right"><h2>{{constellationGame.CurrentRound}}/20</h2></div>
                             </div>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                <!-- Player score display -->
                    <div class="col">
                        <div class="card" style="margin-top:5px; margin-bottom:5px; margin-left:2px; margin-right:2px">                    
                             <div class="row">
                                 <b>Your Score</b>
                             </div>
                             <div class="row" style="height:100%">
                                 <center>
                                    <h2>0</h2>
                                 </center>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Game score display -->
                    <div class="col">
                        <div class="card" style="margin-top:5px; margin-bottom:5px; margin-left:2px; margin-right:5px">                    
                             <div class="row">
                                 <b>Game Score</b>
                             </div>
                             <div class="row" ng-repeat="player in constellationGame.Players">
                                  <div class="col col-70">
                                        {{player.Name}}
                                  </div>
                                  <div class="col col-30">
                                        {{player.Score}}
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
           
            <!-- Cut Throw Goals Display -->
            <div class="row">
                <div class="col">
                    <div class="card" style="margin:5px; text-align:center; font-weight: bold;">
                        <div class="row">
                            <div class="col col-30" style="text-align:left">Player</div>
                            <div class="col col-10">20</div>
                            <div class="col col-10">19</div>
                            <div class="col col-10">18</div>
                            <div class="col col-10">17</div>
                            <div class="col col-10">16</div>
                            <div class="col col-10">15</div>
                            <div class="col col-10">Bull</div>
                        </div>

                        <div class="row" style="text-align:center; padding-top:10px;" ng-repeat="player in constellationGame.Players">
                            <div class="col col-30" style="text-align:left">{{player.Name}}</div>
                            <div class="col col-10" ng-repeat="(goal, value) in player.ListGoals.ListGoals">
                                <img ng-show="value != 0" height="75%" width="75%" ng-src="{{getImage(value)}}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="card" style="margin:5px;">
                        <div class="row">
                            <b>Previous Shot</b>
                        </div>
                        <div class="row">
                            <div class="col" ng-repeat="player in constellationGame.Players">
                                <div class="row">
                                    <center>
                                        <b>{{player.Name}}</b>
                                    </center>
                                </div>
                                <div class="row" ng-repeat="round in player.Rounds">
                                    <div class="col" ng-repeat="dart in round.shoots track by $index">
                                        <span ng-show="dart">{{ getShot(dart) }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            
            <!-- Previous shots Display -->
            <!--
            <div class="row">
                <div class="col">
                    <div class="card" ng-repeat="player in constellationGame.Players">
                        <center>
                            <h2>{{player.Name}}</h2>
                            <h1>{{player.Score}}</h1>
                        </center>
                    </div>
                </div>
            </div>
            -->
        </div>
        
    </ion-content>
</ion-view>