<ion-view title="Home" id="homepage">
  <ion-content padding="true">
      <div class="row custom">
        <div class="col custom">
            <div class="home" onclick="location.href='index.html#/friends'">
              <div class="homeitem friends">
                  <div class="icon">
                    <img src="../img/HomeIcons/friends.png" height="auto" width="100%">
                  </div>
                  <div class="title">
                    My Friends
                  </div>
              </div>
            </div>
        </div>
        <div class="col custom">
            <div class="home" onclick="location.href='index.html#/join'">
              <div class="homeitem join">
                  <div class="icon">
                    <img src="../img/HomeIcons/join.png" height="auto" width="100%">
                  </div>
                  <div class="title">
                    Join a Game
                  </div>
              </div>
            </div>
        </div>
      </div>

      <div class="row custom">
        <div class="col custom">
            <div class="home" onclick="location.href='index.html#/stats'">
              <div class="homeitem stats">
                  <div class="icon">
                    <img src="../img/HomeIcons/stats.png" height="auto" width="100%">
                  </div>
                  <div class="title">
                    My Stats
                  </div>
              </div>
            </div>
        </div>
        <div class="col custom">
            <div class="home" onclick="location.href='index.html#/history'">
              <div class="homeitem history">
                  <div class="icon">
                    <img src="../img/HomeIcons/history.png" height="auto" width="100%">
                  </div>
                  <div class="title">
                    My History
                  </div>
              </div>
            </div>
        </div>
      </div>
      
      <div class="row last">
        <div class="col custom">
            <div class="home" onclick="location.href='index.html#/trophies'">
              <div class="homeitem trophy">
                  <div class="icon">
                    <img src="../img/HomeIcons/trophy.png" height="auto" width="100%">
                  </div>
                  <div class="title">
                    My Trophies
                  </div>
              </div>
            </div>
        </div>
        <div class="col custom">
            <div class="home" onclick="location.href='index.html#/settings'">
              <div class="homeitem settings">
                  <div class="icon">
                    <img src="../img/HomeIcons/settings.png" height="auto" width="100%">
                  </div>
                  <div class="title">
                    Settings
                  </div>
              </div>
            </div>
        </div>
      </div>
  </ion-content>
</ion-view>