<ion-view title="Join a Game" id="joinInstr">
  <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true" style="background:#3F51B5">
        <row>
            <div style="padding-top:25%">
                <center>
                    <img src="/img/qrcode.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </center>
            </div>
        </row>
        <row>
            <div style="margin-top:50px; padding:20px">
                <p style="color:#FFFFFF; font-size:18px; text-align:justified">
                    To join a game, <strong>flash</strong> the QR Code displayed on your dart board
                </p>
            </div>
        </row>
        <row>
             <div style="padding:20px">
                <button id="joinAGame-button22" class="button button-energized  button-block" on-tap="openScan()">Flash code</button>
            </div>
        </row>
  </ion-content>
</ion-view>