<ion-view title="Login" id="page24">
  <ion-content padding="true" style="background:#3F51B5">
    <center style="padding:15px;">
        <img src="../img/Logos/logo%20name.png" width="75%" style="padding-top:25%; padding-bottom:20%">
        <button id="login-btn" class="button button-positive  button-block ion-social-facebook" on-tap="signInWithFacebook()">&nbsp;&nbsp;&nbsp;&nbsp;Log in with Facebook</button>
    </center>
  </ion-content>
</ion-view>