<ion-view title="My Friends" id="friends">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
  <ion-content padding="true" style="background:#3F51B5">
        <div class="list">
            <a class="item item-avatar" ng-repeat="friend in friends">
              <img ng-src="{{friend.pp}}">
              <h2>{{friend.name}}</h2>
              <p>Level {{friend.level}}</p>
            </a>
        </div>
      
  </ion-content>
</ion-view>