<ion-view title="My History" id="page21">
  <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
  <ion-content padding="true" style="background:#3F51B5">
        <div class="card" style="margin:5px;" ng-repeat="event in history">                    
            <div class="row">
                <div class="col col-30">
                    <img src="/img/GoalCount/triple.png" height="auto" width="100%">
                </div>
                <div class="col col-80">
                    <div class="row">&nbsp;{{event.date}}</div>
                    <div class="row">&nbsp;<b>{{event.type}}</b></div>
                    <div class="row">
                        <div class="col">Classement : {{event.classement}}</div>
                        <div class="col">Score : {{event.score}}</div>
                    </div>
                </div>
            </div>
      </div>
  </ion-content>
</ion-view>
