<ion-view title="My Stats" id="page20">
 <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
  <ion-content padding="true" style="background:#3F51B5">
        <div class="card" style="margin:5px;" ng-repeat="stat in stats">
            <div class="row">
                <b>{{stat.name}}</b>
            </div>
            <div class="row">
                <div class="col">
                    <center><img ng-src="{{stat.imgSrc}}" height="auto" width="50%"></center>
                </div>
                <div class="col">
                    <div class="row"><b>Value</b></div>
                    <div class="row" style="font-size:22px;">{{stat.value}}</div>
                    
                </div>
                <div class="col">
                    <div class="row"><b>Total</b></div>
                    <div class="row" style="font-size:22px;">{{stat.sum}}</div>
                </div>
            </div>
        </div>
  </ion-content>
</ion-view>