<ion-view title="My Trophies" id="page22">
   <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
  <ion-content padding="true" style="background:#3F51B5">
      <div class="row">
            <span style="color:#FFFFFF;">Unlocked</span>
      </div>
      
      <div ng-show="!success.unlocked">
          <center>
                <span style="color:#FFFFFF;">You have not trophies yet</span>
          </center>
      </div>
      <div class="card" style="margin:5px;" ng-repeat="card in success.unlocked">                    
            <div class="row">
                <div class="col col-30">
                    <img src="/img/Logos/dart.png" height="auto" width="100%">
                </div>
                <div class="col col-80">
                    <div class="row"><b>{{card.title}}</b></div>
                    <div class="row">{{card.details}}</div>
                </div>
            </div>
      </div>
      
      <div class="row">
            <span style="color:#FFFFFF;">Locked</span>
      </div>
      <div ng-show="!success.locked">
          <center>
                <span style="color:#FFFFFF;">You have all trophies available. News coming soon</span>
          </center>
      </div>
      <div class="card" style="margin:5px; background-color:#95a5a6" ng-repeat="card in success.locked">                    
          <div class="row">
              <div class="col col-30">
                  <img src="/img/locked-darts.png" height="auto" width="100%">
              </div>
              <div class="col col-80">
                    <div class="row"><b>{{card.title}}</b></div>
                    <div class="row">{{card.details}}</div>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>