<ion-view title="Settings" id="page23">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
  <ion-content padding="true" ></ion-content>
</ion-view>