.platform-ios .manual-ios-statusbar-padding{
    padding-top:20px;
}
.manual-remove-top-padding{
    padding-top:0px; 
}
.manual-remove-top-padding .scroll{
    padding-top:0px !important;
}
ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
    margin-left:-10px;
    margin-right:-10px;
}
ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
    border-radius:0px;
    border-left:0px;
    border-right: 0px;
}

.scroll{
    padding: 0px;
}

.row.custom{
    margin: 0px;
    padding: 0px;
    height: 33%;
}

.row.last{
    margin: 0px;
    padding: 0px;
    height: 34%;
}
.col.custom {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.home{
    margin: 0px;
    height: 100%;
}

.homeitem {
    padding: 20px;
    height: 100%;
}
.homeitem > .icon {
    padding: 16%;
    width: 100%;
}
.homeitem > .title {
    color: white;
    font-size: 130%;
    text-align: center;
}

.home > .friends {
    background-color: #FFC107; 
}
.home > .join {
    background-color: #3F51B5;
} 
.home > .stats {
    background-color: #a4c400; 
} 
.home > .history {
    background-color: #e74c3c; 
} 
.home > .trophy {
    background-color: #9b59b6; 
}
.home > .settings {
    background-color: #1ab7ea;
}
